mysql_rel/Release/amxplugin.obj
mysql_rel/Release/CAmxString.obj
mysql_rel/Release/CMutex.obj
mysql_rel/Release/CMySQLHandler.obj
mysql_rel/Release/CScripting.obj
mysql_rel/Release/getch.obj
mysql_rel/Release/main.obj
mysql_rel/Release/mysql.Build.CppClean.log
mysql_rel/Release/mysql.exp
mysql_rel/Release/mysql.lib
mysql_rel/Release/mysql.tlog/cl.command.1.tlog
mysql_rel/Release/mysql.tlog/CL.read.1.tlog
MySQLProject.sdf
mysql_rel/Release/mysql.tlog/CL.write.1.tlog
mysql_rel/Release/mysql.tlog/link.command.1.tlog
mysql_rel/Release/mysql.tlog/link.read.1.tlog
mysql_rel/Release/mysql.tlog/link.write.1.tlog
mysql_rel/Release/mysql.tlog/mysql.lastbuildstate
mysql_rel/Release/mysql.tlog/mysql.write.1u.tlog
mysql_rel/Release/MySQLProject.log
mysql_rel/Release/vc120.pdb